:root {
  --font-family-sans: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;

  --color-black: #202123;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #156dff;

  --color-grape: #F44A25;
  --color-mild: #FFFCFA;

  --grad-evening: linear-gradient(156.54deg, #D4DAE8 18.49%, #FFF8EB 76.87%), linear-gradient(0deg, #F8F8F8, #F8F8F8), linear-gradient(180deg, #8572FF -9.91%, #67FF92 111.52%);
  --grad-skin: linear-gradient(180deg, rgba(218, 218, 218, 0.2) 0%, rgba(221, 183, 183, 0.41) 100%);
  --grad-arizona: linear-gradient(151.06deg, #D4DAE8 18.49%, #F9F9F9 76.87%), linear-gradient(0deg, #F8F8F8, #F8F8F8), linear-gradient(180deg, #8572FF -9.91%, #67FF92 111.52%);

  /* Typography */
  --unit: 18;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 18px;
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title4-size: calc(20 / var(--unit) * 1rem); /* 21px */
  --font-title4-line-height: calc(30 / 21); /* 30px */
  --font-title3-size: calc(24 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(40 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(33 / 24); /* 33px */
  --font-title1-size: calc(70 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */
}
