.root {
  display: block;
  text-align: center;
  padding: 2rem;
  background: var(--grad-evening);
  width: 100%;
}

.greeting {
  font-size: var(--font-title3-size);
  max-width: 500px;
  margin: 0 auto;
}

.intro {
  font-size: var(--font-base-size);
  max-width: 500px;
  margin: 0 auto;
}
