@import '../styles/custom-media.css';

.root {
  background: var(--grad-evening);
  text-align: center;
  padding: 2rem 1rem;
  display: block;

  @media (--media-min-medium) {
    padding: 4rem;
  }
}

.greeting {
  font-size: var(--font-title3-size);
  max-width: 500px;
  margin: 0 auto;
}

.intro {
  font-size: var(--font-base-size);
  max-width: 500px;
  margin: 0 auto;
}
