.root {
  background: var(--grad-evening);
  text-align: center;
  display: block;
  padding: 4rem;
}

.greeting {
  font-size: var(--font-title3-size);
  max-width: 500px;
  margin: 0 auto;
}

.intro {
  font-size: var(--font-base-size);
  max-width: 500px;
  margin: 0 auto;
}
