@import '../styles/custom-media.css';

.root {
  top: 0;
  display: none;
  z-index: 9999;
  padding: 1rem;
  position: sticky;
  backdrop-filter: blur(15px);
  background-color: rgba(249, 242, 236, 0.5);;

  @media (--media-min-medium) {
   display: block;
  }
}


.ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.li {
  padding: 0;
  margin: 0 0.5rem;
  list-style: none;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-weight: 800;
  color: var(--color-dark-gray);
  font-size: var(--font-base-size);
}
