@import '../styles/custom-properties.css';
@import '../styles/custom-media.css';

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 4rem 1rem 0;

  & h2,
  & h3,
  & h4,
  & p,
  & ul,
  & ol,
  & blockquote {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  & h2 {
    font-size: var(--font-title2-size);
  }

  & h3 {
    font-size: var(--font-title3-size);
  }

  & h4 {
    font-size: var(--font-title4-size);
  }

    & h2,
    & h3,
    & h4 {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
}

.header {
  background: var(--grad-evening);
  text-align: center;
  padding: 2rem 1rem;
  display: block;

  @media (--media-min-medium) {
    padding: 2rem;
  }
}

.name {
  font-weight: 800;
  margin: 1rem 0;
  font-size: 1.175rem;
}

.job {
  color: var(--color-grape);
}

.backLink {
  display: block;
  text-decoration: none;
  color: var(--color-dark-gray);
}

.backLink:hover {
  text-decoration: underline;
}

.title {

  max-width: 900px;
  text-align: left;
  margin: 2.25rem auto 3rem;
  font-size: var(--font-title2-size);

  @media (--media-min-small) {
    text-align: center;
    display: block;
  }

  @media (--media-min-medium) {
    font-size: 50px;
  }

  @media (--media-min-large) {
    font-size: var(--font-title1-size);
  }
}

.summary {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-width: 700px;

  @media (min-width: 530px) {
    display: flex;
  }
}

.dl {
  padding: 0;
  flex-grow: 1;
  flex-basis: 0;
  text-align: left;
  margin: 0 0 1rem 0;

  @media (--media-min-medium) {
    font-size: var(--font-size-base);
  }
}

.dt {
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: 800;
}

.dd {
  margin: 0;
  padding: 0;
  text-align: left;
}
