@import '../styles/custom-media.css';

.root {
  display: block;
  padding: 4rem 1rem;
  background: transparent url(/bg-strengths.svg) center top no-repeat;
  background-size: contain;
}

.title {
  text-align: center;
  margin: 1rem 0 3rem;
  font-size: var(--font-title2-size);
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 2em;
  padding: 1rem;
  grid-template-columns: 1fr;

  @media (--media-min-small) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--media-min-medium) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (--media-min-large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.cardTitle {
  font-size: var(--font-title3-size);
}

.cardText {
  font-size: var(--font-base-size)
}
