.root {
  display: block;
  margin: 0 auto;
  padding: 4rem 2rem;
  max-width: 1200px;
  border-radius: 20px;
  background: var(--grad-arizona);
}

.title {
  text-align: center;
  margin: 1rem 0 3rem;
  font-size: var(--font-title2-size);
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 2em;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr;

  /*@media (--media-min-small) {*/
  /*  grid-template-columns: 1fr 1fr;*/
  /*}*/

  /*@media (--media-min-medium) {*/
  /*  grid-template-columns: 1fr 1fr 1fr 1fr;*/
  /*}*/
}

.card {
  padding: 1rem;
  border-radius: 10px;
  background: var(--color-white);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.cardTitle {
  font-size: var(--font-title3-size);
}

.cardText {
  font-size: var(--font-base-size)
}
